<router-outlet></router-outlet>
<div class="top">
    <h1>{{titulo}}</h1>
    <button routerLink="/login">Iniciar sesion</button>
    <button (click)="on()">Acerca De</button>
</div>

<div id="module">

    <div id="acercaDe">
        <span class="close" (click)="of()">&times;</span>
        <h1>ACERCA DE</h1>
        <p>Nombre: José Eduardo López González</p>
        <p>Carné: 2018169</p>
        <p>Curso: 6to. Perito en informatica</p>
    </div>
</div>

<div class="imagen"></div>
<div class="contenido">

    <h1 style="text-align: center;">Bienvenidos</h1>

    <p>Como parte del apoyo que se le brinda a los alumnos,</p>
    <p>Kinal presenta la siguiente biblioteca online dentro de la cual</p>
    <p>el alumno o profesor podra realizar prestamos de libros que necesite</p>
    <p>ya sea para impartir una clase o realizar un trabajo de investigacion.</p>
</div>

<div class="imagen"></div>