<div class="botones">
    <h1>BIBLIOTECA</h1>
    <form action="">
        <input type="text" name="busqueda" placeholder="buscar..">
    </form>
</div>

<div class="contenedor">
    <img id="usuarioImg" src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png " alt="Usuarios">
    <div class="enlace">
        <a routerLink="/usuarios">Usuarios</a>
    </div>
</div>

<div class="contenedor2">
    <img id="LibrosImg" src="https://th.bing.com/th/id/OIP.eLbaHg1WOSs8-RWB6yti9AAAAA?pid=Api&w=256&h=256&rs=1 " alt="Usuarios">
    <div class="enlace">
        <a routerLink="/librosYrevistas">Libros/Revistas</a>
    </div>
</div>


<div class="contenedor3">
    <div class="enlace">
        <img src="https://th.bing.com/th/id/OIP.NhLisokGjZ7ZvfgRtwVBGwHaHa?pid=Api&rs=1" alt="reporte">
    </div>
    <div class="enlace">
        <a routerLink="/reporte">Reporte</a>
    </div>
</div>



<router-outlet></router-outlet>